<%= render "shared/errors", obj: @member %>

<div class=table-responsive>
<table class="table table-striped table-hover table-bordered">
<% if controller.kind_of?(Admin::MembersController) %>
  <tr>
    <th><%= form.label :number %></th>
    <td><%= form.text_field :number, size: 8 %></td>
  </tr>
<% end %>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :full_name %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
   <tr>
    <th><%= form.label :email %></th>
    <td><%= form.text_field :email %></td>
  </tr>
 <tr>
    <th><%= form.label :remark %></th>
    <td><%= form.text_area :remark, cols:40, rows: 3 %></td>
  </tr>
<% if controller.kind_of?(Admin::MembersController) %>
  <tr>
    <th><%= Member.human_attribute_name(:administrator) %></th>
    <td>
      <%= form.check_box :administrator %>
      <%= form.label :administrator %>
    </td>
  </tr>
<% end %>
  <tr>
    <th><%= form.label :password %></th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
</div>
<% unless @member.new_record? %>
<p>パスワードを変更しないときは、パスワード入力欄を空にしてください。</p>
<% end %>
