<% unless @current_member %>
  <%= render "shared/login_form" %>
<% end %>
<% if @current_member %>
  <p>
  <div class="oneline_left">
  サーバ基盤情報管理ツール
  <%= image_tag("logo.gif", size: "204x36",:style => "margin: 2px",
  :class => "img-rounded", alt: "Hmochi Logo") %>
  </div>
   <div class="oneline_right">
    <%= link_to @current_member.name + "さん", :account,
             :class=>"btn btn-default btn-sm"  %>
    <%= link_to "ログアウト", :session,
      method: :delete, confirm: "ログアウトしますか？",
             :class=>"btn btn-default btn-sm"  %>
  </div>
  <div class="oneline_clear">
  </div>
  </p>
  <% end %>

  <% if controller.kind_of?(Admin::Base) %>
    <div class="nav nav-pills navbar-inverse nav-justified" id="admin_menubar">
      <li><%= menu_link_to "管理TOP", :admin_root %></li>
      <li><%= menu_link_to "ユーザ管理", :admin_members %></li>
      <li><%= menu_link_to "基盤全項目管理", :admin_articles %></li>
      <li><%= menu_link_to "TOP", :root %></li>
      <li><%= menu_link_to "about", :about %></li>
    </div>
  <% else %>

    <ul class="nav nav-pills navbar-inverse nav-justified">
      <li><%= menu_link_to "トップ", root_path %></li>
      <% if @current_member %>
        <li><%= menu_link_to "サーバ基盤一覧",  :articles %></li>
        <li><%= menu_link_to "ユーザリスト", :members %></li>
        <% if @current_member.administrator? %>
          <li><%= menu_link_to "管理ページ", :admin_root %></li>
        <% end %>
      <% end %>
      <li><%= menu_link_to "about", :about %></li>
     </ul>

  <% end %>
