<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<% end %>
<div class="panel panel-primary verticalcenter">
  <div class="panel-heading">
    <h1 class="panel-title">ログイン</h1>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_tag url: :session do |f| %>
      <%= f.text_field :name, label:"ログイン名",wrapper_class: 'form-control input-sm' %>
<p>　</p>
<p>　</p>
      <%= f.password_field :password, label:"パスワード" %>
      <%= submit_tag "ログイン" %>
      <%= hidden_field_tag "from", request.path %>
    <% end %>
  </div>
</div>
