<div class=table-responsive>
<table class="table table-striped table-hover table-bordered">
  <tr>
  <tr>
    <th width="150">番号</th>
    <td><%= @member.number %></td>
  </tr>
  <tr>
    <th>ユーザ名</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @member.full_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>インフォメーション</th>
    <td><%= @member.remark %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td><%= @member.administrator? ? "○" : "－" %></td>
  </tr>
</table>
</div>
